// 命名空间
$namespace: v;

// el命名空间
$elNamespace: el;

// Color
$black: #333;
$white__light: #f7f9fa;
$white: #fff;
$blue: #499df2;
$gray: #e7e7e7;
$gray__dark: #999;
$red: #ff5153;
$red__light: #ff7f66;
$green: #56cc8d;
$green__light: #48bebd;
$yellow: #eea005;

// Font-size
$h1: 22px;
$h2: 20px;
$h3: 18px;
$h4: 16px;
$h5: 14px;
$h6: 12px;
